<div style="border: 1px solid black; margin: 25px; padding: 25px; border-radius: 15px; height: 400px;">
    <form>
        <label class="form-label" for="username">Username</label>
        <input class="form-control" id="username" name="username" placeholder="Type your username" type="text">
        <br>
        <label class="form-label" for="email">Email</label>
        <input class="form-control" id="email" name="email" placeholder="Type your email" type="email">
        <br>
        <label class="form-label" for="password">Password</label>
        <input class="form-control" id="password" name="password" placeholder="Type your password" type="text">
        <br>
        <button class="btn mt-3"
            style="background-color: rgba(15, 32, 107, 0.795); color: white; width: 100%;">SignUp</button>
    </form>
</div>