.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.connected {
    background-color: green;
}

.notConnected {
    background-color: red;
}

#content{
    background-color: blueviolet;
}